html,body {
  -webkit-font-smoothing: antialiased;
}

.heebo {
  font-family: 'Heebo', sans-serif;
}

.plex {
  font-family: 'IBM Plex Mono', monospace;
}

.fill-viewport {
  min-height: 100vh;
}

.liquid-child {
  top: auto !important;
}

.bg {
  transition: background 0.5s ease;
}

.shadow-outer-1 {  
  transition: all 0.2s ease;
  cursor: pointer;
}

.shadow-outer-1:hover {
  box-shadow: 0px 5px 18px rgba(0,0,0,0.2);
}

.bg-0 {
  background: #680B70;
}

.bg-1 {
  background: #680B70;
}

.bg-2 {
  background: #168255;
}

.bg-3 {
  background: #0099C9;
}

.bg-4 {
  background: #0067C7;
}

.bg-5 {
  background: #B20E8E;
}

.bg-6 {
  background: #BF0050;
}

.bg-7 {
  background: #E83800;
}

.bg-8 {
  background: #D9930D;
}

.bg-9 {
  background: #CFBF38;
}

.bg-10 {
  background: #87A82A;
}

.bg-11 {
  background: #C40023;
}

.bg-12 {
  background: #4A3BA8;
}

.bg-13 {
  background: #5E1F8F;
}